body {
    font-family: "Rubik", sans-serif;
    font-size: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    background: #fff0f0;
    }
button {
    position: center;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
  }
  button.btn {
    font-weight: 600;
    color: #382b22;
    text-transform: uppercase;
    padding: 40px 64px;
    background: #fff0f0;
    border: 2px solid #b18597;
    border-radius: 25px;
    transition: 0.2s;
    transform-style: preserve-3d;
  }
  button.btn::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f9c4d2;
    border-radius: inherit;
    box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  button.btn:hover {
    background: #ffe9e9;
    transform: translate(0, 0.25em);
  }
  button.btn:hover::before {
    box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
    transform: translate3d(0, 0.5em, -1em);
  }
  button.btn:active {
    background: #ffe9e9;
    transform: translate(0em, 0.75em);
  }
  button.btn:active::before {
    box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
    transform: translate3d(0, 0, -1em);
  }
#Calculate {
  margin-top: 21px;
  margin-left: 8px;
}
input {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 5px 12px;
  background: #fff;
  border: 4px solid #b18597;
  border-radius: 25px;
  margin: 10px 0px;
  text-align: center;
}
.result {
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  border: 4px solid #b18597;
  margin: 55px;
  border-radius: 25px;
}
.buttons {
  text-align: center;
  margin-left: -10px;
}
